@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600&display=swap');
 
:root {
/* ================= Color -================ */
    --main-color: #0B65D6;
    --black-color: #424242;
    --gray-color: #8c8c8c;
    --bg-royal-blue: #002171;
    --bg-vivid-amber:#c79100;
    --bg--off-white:#edeef8;

/* ================= Font ================= */

    --h1-font: 3.052rem;
    --h2-font: 2.441rem;
    --h3-font: 1.953rem;
    --h4-font: 1.563rem;
    --h5-font: 1.25rem;
    --body-font: 1rem;
    --caption-font: 0.8rem;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'outfit', sans-serif;
}

body {
    margin: 0 auto;
    max-width: 1200px;
    color: var(--black-color);
    font-size: var(--body-font);
    overflow-x: hidden;
}

/****************** Nevigation *******************/

nav {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding-top: 3rem;
}
    
nav a {
    text-decoration: none;
    font-size: var(--body-font);
    color: var(--gray-color);
}
    
.right-nav{
    display: flex;
}

.left-nav a{
    color: var(--main-color);
}

.margin {
    padding-left: 30px;
}

.right-nav .dot {
    width: 6px;
    height: 6px;
    background-color: var(--main-color);
    border-radius: 50%;
    opacity: 1;
    -webkit-transform: translate(-183px, 25px);
    transform: translate(-183px, 25px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.right-nav a:nth-child(1):hover ~ .dot {
    -webkit-transform: translate(-183px, 25px);
    transform: translate(-183px, 25px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.right-nav a:nth-child(2):hover ~ .dot {
    -webkit-transform: translate(-105px, 25px);
    transform: translate(-105px, 25px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.right-nav a:nth-child(3):hover ~ .dot {
    -webkit-transform: translate(-24px, 25px);
    transform: translate(-24px, 25px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}

.active {
    color: var(--main-color);
}

.active ~ .dot {
    -webkit-transform: translate(-183px, 25px);
    transform: translate(-183px, 25px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    opacity: 1;
}
    
/****************** Width Setting ******************/

.narrow-width {
    max-width: 700px;
    margin: 60px auto;
}

.wide-width {
    max-width: 900px;
    margin: 60px auto;
}

.full-width-nonbackground {
    margin: 0 -9999rem;
    padding: 3rem 9999rem;
   
}

.full-width-background {
    margin: 0 -9999rem;
    padding: 3rem 9999rem;
    background-color: var(--bg--off-white);   
}

section img {
    width: 100%;
}

/****************** Font Setting ******************/

.title {
    color: var(--bg-royal-blue);
    font-size: var(--h4-font);
    font-weight: 400;   
    margin: 0 0 20px 0;
}

.subtitle {
    color: var(--bg-vivid-amber);
    font-size: var(--h5-font);
    font-weight: 400; 
    margin: 20px 0;
}

.explain {
    line-height: var(--h4-font);
}

/****************** Hero ******************/

.hero {
    text-align: center;
}

.intro .title {
    font-size: var(--h2-font);
}

.btn-prototpye {
    background-color: var(--bg-royal-blue);
    color: var(--bg--off-white);
    font-size: var(--body-font);
    padding: 8px 16px;
    border: none;
    border-radius: 3px;
    margin: 20px 0;
    cursor: pointer;
}

.btn-prototpye:hover {
    background-color: var(--bg--off-white);
    color: var(--bg-royal-blue);
    transition: all 0.5s;
}

.hero-info-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    text-align: left;
    margin-top: 20px;
    line-height: 25px;
}

.hero-info-title {
    color: var(--bg-royal-blue);
    font-weight: 500;
}

/****************** HMW ******************/

.center {
    padding: 50px 50px;
    text-align: center;
    background-color: var(--bg--off-white); 
}

.center-nonbackground {
    margin: 30px 0;
    text-align: center;
}

/************* Goal *************/

.goal-content {
    margin-bottom: 20px ;
}

.goal-content h4 {
    font-weight: 500;
}

.goal-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
    justify-content: center;
}

.goal-container .icon {
    font-size: var(--h1-font);
}

.bg-icon {
    width: var(--h1-font);
    padding: 5px 0;
}

/************* Research *************/

.research-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/************* Key insights *************/

.insights-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.speech-container {
    background-color: var(--bg--off-white);
    padding: 15px;
    border-left: 3px solid var(--bg-royal-blue);
    
}

.speech-container:nth-of-type(1) {
    margin: 20px 0;
}

.quote-user {
    text-align: right;
    color: var(--gray-color);
    margin-top: 10px;
}

/************* Competitor *************/

.sw-table {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.competitor {
    display: grid;
    grid-template-columns: 1fr 5fr 5fr;
    gap: 50px;
    justify-content: center;
    border: 1px solid var(--gray-color);
    border-radius: var(--caption-font);
    padding: 30px;
    line-height: 25px;
}

.competitor-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.competitor .subtitle {
    color: var(--gray-color);
    margin: 0 0 10px 0;
}

.sw-table img {
    width: var(--h1-font);
}

/************* Persona *************/

.carousel {
    display: grid;
    place-items: center;
}

.slider {
    width: 100%;
    max-width: 900px;
    height: 590px;
    position: relative;
    overflow: hidden;
}

.slide {
    width: 100%;
    max-width: 900px;
    position: absolute;
    transition: all 0.5s;
}

.slide img {
    width: 100%;
    height: 100%;
}

.btn {
    background-color: var(--bg--off-white);
    position: absolute;
    width: 50px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    transform: scale(1.2);
}

.btn span {
    color: #002171;
    margin: 0 auto;
    padding: 0;
   
}

.btn-prev {
    top: 45%;
    left: 2%;
}

.btn-next {
    top: 45%;
    right: 2%;
}

/************* Solution *************/

.full-width-nonbackground  img,
.full-width-background img{
   max-width: 100%;
}

.full-width-background .grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
}

.full-width-nonbackground .grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
}

.feature-explain-left {
    margin-left: 50px;
}

.feature-explain-right {
    margin-right: 50px;
}

.sketches img {
    width: 50%;
}

/************* Footer **************/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    }

footer .title {
    font-size: var(--h2-font);
    color: var(--main-color);
    font-weight: 500;
    margin-bottom: 10px;
    }

footer .footer-content {
font-size: var(--h5-font);  
margin-bottom: 10px;
}

footer a {
text-decoration: none;
font-size: var(--h5-font);
color: #8c8c8c;
padding-right: 10px;
}

footer .footer-dot {
width: 6px;
height: 6px;
background-color: var(--main-color);
border-radius: 50%;
opacity: 0;
-webkit-transform: translate(-10px, 2px);
transform: translate(-10px, 2px);
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}

footer a:nth-child(1):hover ~ .footer-dot {
-webkit-transform: translate(35px, 2px);
transform: translate(35px, 2px);
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
opacity: 1;
}

footer a:nth-child(2):hover ~ .footer-dot {
-webkit-transform: translate(110px, 2px);
transform: translate(110px, 2px);
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
opacity: 1;
}

footer a:hover {
color: var(--main-color);
}
